* {
  margin: 0.5rem;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin:0;
}

body {
  background-image: linear-gradient(to right top, #423271, #3e3775, #3a3b78, #36407b, #32447d, #2c457b, #264579, #214677, #194370, #114069, #0a3d62, #053a5b);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
}